.ScreenSaver {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1080px;
    background: url(../images/966599d9bde3c191733693ff011d3627.png) center no-repeat;
    z-index: 1;
    transition: all 0.8s ease-in-out;
    border-radius: 0;
}
.ScreenSaver.hidden {
    opacity: 0;
}
.ScreenSaver > img {
    align-self: center;
    margin-top: 297px;
    position: relative;
    /*display: none;*/
}
.animated {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    animation-name: move;
    animation-duration: 128s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.animated:nth-child(1) {
    background: url(../images/c661d0f77b70b7594ca5bc0aa9cc90dc.png) center no-repeat;
    /*display: none;*/
}
.animated:nth-child(2) {
    background: url(../images/45f22f62f0b8285f256a18df980ba7b5.png) center no-repeat;
    transform:  translate(-100%, 0);
    animation-name: move2;
}
.animated:nth-child(3) {
    background: url(../images/91c38f0221484ebcf63f04cbd940706f.png) center no-repeat;
    animation-delay: 16s;
    transform:  translate(-100%, 0);
    animation-name: move2;
}
.animated:nth-child(4) {
    background: url(../images/3a0ce177ec6d717abfa8d1e560219cd4.png) center no-repeat;
    animation-delay: 32s;
    transform:  translate(-100%, 0);
    animation-name: move2;
}
.animated:nth-child(5) {
    background: url(../images/f19f238ca677982c801b0eebce7e6824.png) center no-repeat;
    animation-delay: 48s;
    transform:  translate(-100%, 0);
    animation-name: move2;
}
.animated:nth-child(6) {
    background: url(../images/91c38f0221484ebcf63f04cbd940706f.png) center no-repeat;
    animation-delay: 64s;
    transform:  translate(-100%, 0);
    animation-name: move2;
}
.animated:nth-child(7) {
    background: url(../images/3a0ce177ec6d717abfa8d1e560219cd4.png) center no-repeat;
    animation-delay: 80s;
    transform:  translate(-100%, 0);
    animation-name: move2;
}
.animated:nth-child(8) {
    background: url(../images/f19f238ca677982c801b0eebce7e6824.png) center no-repeat;
    animation-delay: 96s;
    transform:  translate(-100%, 0);
    animation-name: move2;
}
@keyframes move {
    0% {
        transform:  translate(0, 0);
    }
    12.5% {
        transform:  translate(100%, 0);
    }
    13% {
        transform:  translate(100%, 100%);
    }
    14% {
        transform:  translate(0%, 100%);
    }
    15% {
        transform:  translate(-100%, 100%);
    }
    87.5% {
        transform:  translate(-100%, 0);
    }
    100% {
        transform:  translate(0, 0);
    }
}
@keyframes move2 {
    0% {
        transform:  translate(-100%, 0);
    }
    25% {
        transform:  translate(100%, 0);
    }
    26% {
        transform:  translate(100%, 100%);
    }
    27% {
        transform:  translate(0%, 100%);
    }
    28% {
        transform:  translate(-100%, 100%);
    }
    100% {
        transform:  translate(-100%, 0);
    }
}/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}


/* APP STYLES
 *  ==========================================================================
 */

@font-face {
    font-family: 'Old Standard TT';
    src: url(../fonts/cb97409826218fb4c9dc03283ac4d41a.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Old Standard TT';
    src: url(../fonts/11976ea17eb0dc9c8377f6549f4a2432.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Old Standard TT';
    src: url(../fonts/6b56f5551b9f7ca256fd87698dc3d34b.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}
* {
    font-family: 'Old Standard TT', serif;
    user-select: none;
}
p {
    margin: 0;
}
.App {
    height: 1080px;
    width: 1920px;
    overflow: hidden;
    display: flex;
    background: #fff;
    min-height: 1080px;
    position: relative;
}
.App_background {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease-in-out;
    opacity: 0;
}
.App_background.visible {
    opacity: 1;
}
.App_background:nth-of-type(1) {
    background: url(../images/d3bcac5a509ef1d01d31697cb5e15002.png) center no-repeat;
}
.App_background:nth-of-type(2) {
    background: url(../images/b3a59dbba854bc6e78696ea4e4d023b3.png) center no-repeat;
}
.App_background:nth-of-type(3) {
    background: url(../images/83f5150fdb8a1b6208c812de8ebe9e44.png) center no-repeat;
}
.App_background:nth-of-type(4) {
    background: url(../images/dd68206211ff61910d56a7568730e656.png) center no-repeat;
}
.App_background:nth-of-type(5) {
    background: url(../images/e64d0b6d5ce0b1e839b9905d536c11a6.png) center no-repeat;
}
.App_background:nth-of-type(6) {
    background: url(../images/7e2c5b9db8a3e8f466f4bf7c60f9ce52.png) center no-repeat;
}
.App_background:nth-of-type(7) {
    background: url(../images/f857446a991cb2bc49df71bcd1686f80.png) center no-repeat;
}
.App_background:nth-of-type(8) {
    background: url(../images/8536be998fc18c525a8ba6503720aa4c.png) center no-repeat;
}
.App__menu {
    min-width: 335px;
    z-index: 1;
    position: relative;
}
.App__content {
    flex: 1;
    z-index: 1;
    position: relative;
}
.switch-wrapper {
    width: 1540px;
    height: 1032px;
    position: relative;
    /*background: url('./resources/images/BOOK.png') center no-repeat;*/
    top: 50%;
    transform: translateY(-50%);
}
.switch-wrapper > div {
    width: 100%;
    height: 100%;
    position: absolute;
}
.Page {
    display: flex;
    height: 100%;
    position: relative;
}
.Page > div {
    flex: 1;
    position: relative;
}
.Page {
    display: flex;
    height: 100%;
}
.Page > div {
    flex: 1;
    max-width: 50%;
    box-sizing: border-box;
}
.Page > div:nth-of-type(1) {
    padding-left: 137px;
    padding-right: 82px;
}
.Page > div:nth-of-type(2) {
    padding-left: 48px;
    padding-right: 98px;
}
.Page__name {
    font-size: 40px;
    line-height: 49px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-top: 92px;
}
.Page__title {
    margin-top: 35px;
    font-size: 25px;
    line-height: 34px;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-bottom: 70px;
}
.Page__title::after {
    content: '';
    height: 1px;
    width: 80px;
    background: #000;
    position: absolute;
    bottom: -31px;
    left: 50%;
    transform: translateX(-50%);
}
.Page__title.without-after {
    margin-bottom: 40px;
}
.Page__title.without-after::after {
    display: none;
}
.Page__sub-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}
.Page__text-block {
    margin-bottom: 40px;
}
.Page__text {
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
}
.center {
    position: absolute;
    height: 100%;
    background: red;
    width: 1px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
.Page__fake-images {
    margin-top: 24px;
    position: relative;
}
.zone,
.Page > div.zone {
    position: absolute;
    background: rgba(255, 0, 0, 0.2);
    cursor: pointer;
}
.point {
    height: 28px;
    width: 28px;
    background: #000;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.point > p {
    position: absolute;
    top: 6px;
    left: 33px;
    white-space: nowrap;
    font-weight: bold;
    line-height: 16px;
    font-size: 13px;
    transition: all 0.4s ease-in-out;
}
.zone.active .point {
    background: #C60000;
}
.zone.active .point > p {
    color: #C60000;
}
.Page__after-texts {
    position: absolute;
    bottom: 100px;
}
.Page__after-texts::before {
    content: '';
    height: 1px;
    width: 60px;
    background: #000;
    top: -10px;
    left: 0;
    position: absolute;
}
.Page__after-texts p {
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
}
.Page__after-texts p > .link {
    text-decoration: underline;
    color: #000;
}.PagesTabs {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.PagesTabs > a,
.PagesTabs > a:visited {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}
.PagesTabs > a.active {
    font-weight: bold;
    text-decoration: underline;
}.TextsTabs {
    position: absolute;
    bottom: 47px;
    left: calc(50% - 28px);
    display: flex;
    transition: all 0.4s ease-in-out;
}
.TextsTabs > p {
    font-size: 18px;
    line-height: 24px;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    margin: 0 8px;
}
.TextsTabs > p.active {
    opacity: 1;
    margin: 0 50px;
    position: relative;
}
.TextsTabs > p.active::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 20px;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    background: #000;
}
.TextsTabs > p.active::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 20px;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    background: #000;
}.ImagesCarousel {
    height: 100%;
    position: relative;
}
.ImagesCarousel__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ImagesCarousel__item > p {
    position: absolute;
    bottom: 47px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}
.ImagesCarousel__item > img {
    max-width: 100%;
    max-height: 640px;
}
.ImagesCarousel .GsCarousel__prev-button,
.ImagesCarousel .GsCarousel__next-button {
    display: none !important;
}.GsCarousel {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.GsCarousel__items {
    display: flex;
    height: 100%;
    width: 100%;
}
.GsCarousel__item {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}
.GsCarousel__item > * {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
}
.GsCarousel__prev-button,
.GsCarousel__next-button {
    position: absolute;
    top: 50%;
    height: 56px;
    width: 56px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    background: url(../images/7973d32fe5ea483afd3279d66ebb9889.svg);
    display: none;
}
.GsCarousel__prev-button {
    left: 20px;
    background: url(../images/156d667eeea9b7e4bf175b4544e4a6a2.svg);
}
/*.GsCarousel__prev-button:before {*/
    /*content: '<';*/
    /*position: absolute;*/
    /*left: 0;*/
    /*width: 50px;*/
    /*text-align: center;*/
    /*font-size: 25px;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
/*}*/
.GsCarousel__next-button {
    right: 20px;
}
/*.GsCarousel__next-button:before {*/
    /*content: '>';*/
    /*position: absolute;*/
    /*left: 0;*/
    /*width: 50px;*/
    /*text-align: center;*/
    /*font-size: 25px;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
/*}*/
.GsCarousel.hasPrev .GsCarousel__prev-button,
.GsCarousel.hasNext .GsCarousel__next-button {
    display: block;
}
.GsCarousel__previews {
    left: 50%;
    transform: translateX(-50%);
    height: 45px;
    position: absolute;
    top: 77px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.GsCarousel__preview {
    height: 100%;
    margin: 0 4px;
    position: relative;
    margin-bottom: 20px;
}
.GsCarousel__preview > img {
    height: 100%;
    width: 30px;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
    position: relative;
}
.GsCarousel__preview::after {
    content: '';
    height: 1px;
    width: 100%;
    background: #000;
    bottom: 0;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out;
}
.GsCarousel__preview.active::after {
    transform: scaleX(1);
}
.GsCarousel__preview.active img {
    /*width: 50px;*/
    margin-top: -10px;
}.Menu {
    padding-top: 60px;
    padding-left: 80px;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.Menu__logo {
    margin-bottom: 53px;
    height: 120px;
    width: 153px;
}
.Menu__item {

}
.Menu__item > p,
.Menu__item > a,
.Menu__item > a:visited {
    cursor: pointer;
    font-size: 23px;
    line-height: 44px;
    color: #000;
    text-decoration: none;
    display: inline-block;
}
.Menu__item.active > p,
.Menu__item.active > a {
    font-weight: bold;
    white-space: nowrap;
    position: relative;
}
.Menu__item > .Menu__item {
    height: 0;
    overflow: hidden;
    padding-left: 20px;
    transition: all 0.4s ease-in-out;
}
.Menu__item.active > .Menu__item {
    height: 44px;
}
.Menu__footer {
    position: absolute;
    bottom: 40px;
    font-size: 12px;
    line-height: 15px;
}
.Menu__footer::before {
    content: '';
    position: absolute;
    top: -21px;
    left: 0;
    height: 1px;
    width: 80px;
    background: #000;
}
.Menu__item.firstlevel > a::after,
.Menu__item .Menu__item > a::after {
    content: ' . . . . . . . . . . . . . . . . . . . . . . . . ';
    transition: all 0.4s ease-in-out;
    width: 0;
    position: absolute;
    display: none;
    left: calc(100% + 4px);
    bottom: -5px;
    overflow: hidden;
}
.Menu__item.active.firstlevel > a::after,
.Menu__item.active .Menu__item.active > a::after {
    width: 999px;
    /*transform: scaleX(1);*/
}.FullscreenCarousel {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: none;
    z-index: 1;
    transition: all 0.4s ease-in-out;
}
.FullscreenCarousel .GsCarousel__previews {
    top: 105px;
}
.FullscreenCarousel .GsCarousel__preview::after {
    background: #fff;
}
.FullscreenCarousel .GsCarousel__prev-button {
    left: 100px;
}
.FullscreenCarousel .GsCarousel__next-button {
    right: 100px;
}
.FullscreenCarousel__close {
    height: 62px;
    width: 62px;
    position: absolute;
    top: 98px;
    right: 98px;
    background: url(../images/8983eb158f271f71a7e857fdbd584e2b.svg) center no-repeat;
    background-size: contain;
}
.FullscreenCarousel .ImagesCarousel__item > p {
    color: #fff;
    bottom: 75px;
}
.FullscreenCarousel .ImagesCarousel__item {
    overflow: scroll;
    box-sizing: border-box;
}
.ImagesCarousel__item__image-wrap {
    max-width: 100%;
    max-height: 100%;
}
.FullscreenCarousel .ImagesCarousel__item__image-wrap > img {
    max-height: 640px;
    min-height: 640px;
    transition: all 0.4s ease-in-out;
    position: relative;
}
.FullscreenCarousel .ImagesCarousel__item__image-wrap.transparent > img {
    box-sizing: border-box;
    padding: 50px 100px;
    background: url(../images/3c36b547c9ca9ba5cfeafef1f00bf9cc.png) center no-repeat;
    background-size: cover;
}
/*.ImagesCarousel__item__image-wrap.transparent {*/
    /*overflow: scroll;*/
    /**/
/*}*/
.ImagesCarousel__item::-webkit-scrollbar,
.ImagesCarousel__item__image-wrap::-webkit-scrollbar {
    display: none;
}
.FullscreenCarousel.fullscreen .ImagesCarousel__item__image-wrap > img {
    max-height: 2000px;
    min-height: 1080px;
    /*transform: translate(-50%, 0);*/
    /*top: 0;*/
}
.FullscreenCarousel.fullscreen .FullscreenCarousel__close,
.FullscreenCarousel.fullscreen .GsCarousel__previews,
.FullscreenCarousel.fullscreen .GsCarousel__touch-ignore,
.FullscreenCarousel.fullscreen .ImagesCarousel__item > p {
    display: none;
}
.FullscreenCarousel .GsCarousel__preview img {
    background: url(../images/3c36b547c9ca9ba5cfeafef1f00bf9cc.png) center no-repeat;
    background-size: cover;
}.Tracks {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Track {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
}
.Track.active {
    color: #C60000;
}
.Page > div:nth-of-type(2) .Player {
    margin-top: 92px;
}.Player {
    width: 596px;
    height: 822px;
    background: url(../images/70a1447520a2678387d5e34e4b36bdb6.png) center no-repeat;
    padding: 0 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Player__track {
    font-size: 30px;
    line-height: 41px;
    padding-top: 268px;
    font-weight: bold;
}
.Player__progress-info {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 132px;
}
.Player__time {
    font-size: 25px;
    line-height: 34px;
    width: 51px;
}
.Player__progress-wrap {
    width: 400px;
    height: 8px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 24px;
    background: rgba(240, 231, 219, 0.8);
}
.Player__progress-wrap input {
    position: absolute;
    left: 0;
    top: -11px;
    height: 30px;
    width: 100%;
    opacity: 0;
}
.Player__progress {
    width: 50%;
    height: 8px;
    position: relative;
    background: #000;
}
.Player__progress::after {
    content: '';
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    right: -15px;
    top: -11px;
}
.Player__controls {
    margin-top: 60px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Player__prev {
    height: 24px;
    width: 22px;
    background: url(../images/ccc79f32b621e6099d89ad875924b60f.svg) center no-repeat;
    cursor: pointer;
}
.Player__next {
    height: 24px;
    width: 22px;
    background: url(../images/bff7252fc95d9a25f6172ee73e272f79.svg) center no-repeat;
    cursor: pointer;
}
.Player__play-pause {
    height: 56px;
    width: 56px;
    background: url(../images/fa3cb0fc859f81a35a64dbf85e3d4de9.svg) center no-repeat;
    background-size: contain;
    margin: 0 50px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.Player__play-pause.playing {
    background: url(../images/480c78524e544ff891ec761e036a937a.svg) center no-repeat;
    background-size: contain;
}
.Player__play-pause::before {
    content: '';
    background: url(../images/480c78524e544ff891ec761e036a937a.svg) center no-repeat;
    display: none;
}
.Player__volume-info {
    margin-top: 60px;
}
.Player__volume-icon {
    width: 51px;
    height: 24px;
    background: url(../images/f5516faad67c91c86ad0c0b614e154c4.svg) center no-repeat;
}
.Player__volume-icon:nth-of-type(2) {
    opacity: 0;
}
.Player__volume-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Player__volume-wrap {
    width: 400px;
    height: 4px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 74px 0 24px;
    background: rgba(240, 231, 219, 0.8);
}
.Player__volume {
    width: 50%;
    height: 4px;
    position: relative;
    background: #000;
}
.Player__volume::after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    right: -7px;
    top: -6px;
}
.Player__volume-wrap input {
    position: absolute;
    left: 0;
    top: -6px;
    height: 15px;
    width: 100%;
    opacity: 0;
}
.Player > audio {
    display: none;
}.AppWrapper {
    min-width: 1920px;
    max-width: 1920px;
    min-height: 1080px;
    max-height: 1080px;
}
#root {
    height: 0;
}
body {
    background: #777;
}